<p id="notice"><%= notice %></p>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Duration</th>
    <th>Message</th>
    <th>Date</th>
    <th>Frequency</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% unless @group_jobs.order("created_at DESC").first["created_at"] + @group_jobs.order("created_at DESC").first["frequency"]*3600 >= Time.now %>
    <p class="not_success"><b><%= @group_jobs.first["name"] %></b> is overdue.</p>
  <% end %>


  <% @group_jobs.each do |job| %>
      <tr class="<%=job.status=='success' ? 'all_success' : 'not_success' %> ">
        <td><%= job.name %></td>
        <td><%= job.status %></td>
        <td><%= job.duration %></td>
        <td><%= job.message %></td>
        <td><%= job.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= job.frequency %></td>
        <td><%= link_to 'Show', job %></td>
      </tr>
  <% end %>
  </tbody>
</table>