<p id="notice"><%= notice %></p>
<div class="container">
  <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("jobs");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
       no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
         first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
           one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
           based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
           and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
           set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>


<table id="jobs" class="table table-bordered">
  <thead>
  <tr>
    <th onclick="sortTable(0)"> Status</th>
    <th onclick="sortTable(1)"> Job Name</th>
    <th> Counts </th>
  </tr>
  </thead>
  <tbody>
    <% @groups.count.each do |k,v|%>
          <tr class="<%= Job.is_status_good(k) ? 'table-success' : 'table-danger' %> ">
            <% if Job.is_status_good(k) %>
                <td class=".col-md-3"><div class="badge badge-pill badge-success" data-toggle="tooltip" data-placement="top" title="<%=Job.error_message(k)%>">Success</div>
            <% else %>
                <td class=".col-md-3"><div class="badge badge-pill badge-danger" data-toggle="tooltip" data-placement="top" title="<%=Job.error_message(k)%>">Failed</div>
            <% end %>
            </td>
            <td class=".col-md-6"><%= link_to k, group_jobs_path(name: k) %></a></td>
            <td class=".col-md-3"><%= v %></td>
          </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

